MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
# Set this to your VM's public domain/IP if accessing from outside
# MINIO_BROWSER_REDIRECT_URL=http://your-vm-ip:9001
