MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BROWSER_REDIRECT_URL=http://localhost:9001
MINIO_PROMETHEUS_AUTH_TYPE=public

PROMETHEUS_PORT=9090
# Set this to your VM's public domain/IP if accessing from outside
# MINIO_BROWSER_REDIRECT_URL=http://your-vm-ip:9001
